html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #121212;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  overflow: hidden;
  padding-top: 0px;
  list-style-type: none;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  float: left;
}

li {
  display: inline;
}

ul a {
  color: white;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 1000px) { /*Rough*/

  img[src="LogoHeader.png"] {
    height: 200px;
  }

}

@media screen and (max-width: 1000px) { /*Rough*/

  img[src="Heart.png"] {
    height: 100px;
    width: 100px;
    }
    img[src="Message.png"] {
      height: 100px;
      width: 100px;
  }
    img[src="Hashtag.png"] {
      height: 100px;
      width: 100px;
    }
    img[src="Event.png"] {
      height: 50px;
      width: 50px;
    }

  }

  
@media screen and (max-width: 800px) { /*Rough*/
  img[src="AboutMe2.png"] {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 800px) { /*Rough*/
  img[src="AboutMe5.png"] {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 800px) { /*Rough*/
  img[src="AboutMe3.png"] {
    width: 350px;
  }
}

@media screen and (max-width: 800px) { /*Rough*/
  img[src="AboutMe4.png"] {
    width: 350px;
  }
}

/*Not sure of*/
@media screen and (max-width: 400px) { /*Rough*/
  img[src="AboutMe2.png"] {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 400px) { /*Rough*/
  img[src="AboutMe5.png"] {
    width: 350px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) { /*Rough*/
  img[src="AboutMe3.png"] {
    width: 250px;
  }
}

@media screen and (max-width: 400px) { /*Rough*/
  img[src="AboutMe4.png"] {
    width: 250px;
  }
}


code {
  background-color: #1F1F1F;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 3px 5px;
  display: inline-block;
}

@media screen and (max-width: 800px) { /*Rough*/
  video[src="UploadFile.mov"] {
    width: 400px;
    height: 400px;
  }
}

p {
  font-family: Verdana, sans-serif;
}
